.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px; /* Add padding to avoid content touching the edges */
    background-color: #f8f9fa;
    background-image: url("../Images/QuickFixerBg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #110f0f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  .form-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #f8f8f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  

  .signup-label-text{
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #ffffff;
  }

  .below-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Prevent padding from affecting width */
  }
  
  input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .error-input {
    border-color: #dc3545;
  }
  
  .error-message {
    margin-top: 5px;
    font-size: 0.85rem;
    color: #dc3545;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1d5b9c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media (max-width: 576px) {
    .signup-form {
      padding: 15px;
    }
  
    .form-title {
      font-size: 1.25rem;
    }
  
    input {
      font-size: 0.9rem;
    }
  
    .submit-button {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  